.my_schedule_tabs {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #dad9dd;
  margin-bottom: 70px;
}
.my_schedule_tab {
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 36px;
  color: #ffffff;
  padding: 56px 40px;
  margin: 0 3rem;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
.my_schedule_tab_active {
  border-bottom: 5px solid #1380f0;
}
