.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  width: 100%;
  border-bottom: 0.5px solid #dad9dd;
}
.tbody {
  width: 100%;
}
.tr {
  width: 100%;
  display: flex;
  align-items: center;
}
.th {
  padding: 1rem 0;
  flex: 1;

  font-weight: 300;
  font-size: 1.4rem;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
}

.td,
.th {
  padding: 1rem 43px;
  flex: 1;
}

.th.flex-2 {
  flex: 2;
}
.td.flex-2 {
  flex: 2;
}

.tbody .tr:nth-child(odd) {
  background: #28303f;
}

.table_cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tournament_img {
  width: 66.54px;
  height: 66.54px;
  border-radius: 3px;
  margin-right: 2.7rem;
}

.token_img {
  width: 39.3px;
  height: 39.93px;
  border-radius: 50%;
  margin-right: 0.7rem;
}

/* .table td:not(:first-child) .table_cell {
  justify-content: center;
} */

@media (max-width: 820px) {
  .tournament_img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }

  .th.flex-2 {
    flex: 1;
  }
  .td.flex-2 {
    flex: 1;
  }

  .td,
  .th {
    padding: 1rem 0rem;
    flex: 1;
    width: 100%;
  }

  .tr {
    padding: 0 1rem;
  }

  .token_img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 500px) {
  .table_wrapper .container-wrapper {
    width: 100%;
  }
  /* .tbody .tr:nth-child(odd) {
    background: none;
  } */

  .thead .tr:nth-child(odd) {
    background: #28303f;
  }
  .tbody .tr:nth-child(odd) {
    background: transparent;
  }
  .tbody .tr:nth-child(even) {
    background: #28303f;
  }

  .th {
    font-size: 10px;
    line-height: 0.938rem;
    text-align: center;
    color: #ffffff;
  }

  .table_cell h5 {
    font-size: 0.625rem;
  }

  .token_img {
    width: 11.81px;
    height: 12px;
    margin-right: 0.2rem;
  }

  .tournament_img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }

  .td {
    padding-left: 0;
    padding-right: 0;
  }
}
