.tabs_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 102px;
}
.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  color: #8e8e8e;
}

.tab-active {
  color: #1380f0;
}
.tab-active svg path {
  fill: #1380f0;
}
