.community_settings {
  height: 100vh;
}
.community_settings_right_side {
  margin-left: 338px;
  background-color: #0f0f0f;
  padding: 4rem;
  height: 100vh;
}
.community_settings_img {
  display: block;
  width: 91.4px;
  height: 91.4px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.community_settings_link {
  display: block;
  margin: 0 auto;
  text-align: center;

  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
  color: #44a0fe;
  text-decoration: none;

  margin-bottom: 72px;
}

.community_settings_form {
  width: 100%;
  max-width: 589px;
  margin: 0 auto;
}

.community_settings_input {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-bottom: 49px;
}

.community_settings_input label {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 22px;
  color: #b4b5b7;
}

.community_settings_input input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #6b6c6e;

  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 36px;
  color: #ffffff;

  padding-bottom: 0.875rem;
}

.community_settings_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}

.formBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: none;
  border: none;
  outline: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #90959e;

  cursor: pointer;
}

@media (max-width: 760px) {
  .community_settings_right_side {
    margin-left: 0;
  }
}
