.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_link.flex {
  flex-direction: row;
}
.navLink_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
