/* my_teams */
.my_teams {
  background: var(--clr-dark-blue);
  padding: 3.313rem 4.375rem;
  border-radius: 5px;
  /* margin-bottom: 12.563rem; */
  padding-bottom: 10rem;
}

/* my_teams_cards */
.my_teams_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11.063rem;
}
.my_teams_cards_stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.team_card_img {
  width: 142px;
  height: 140px;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 2.438rem;
}

.myTeam_stat_card {
  padding: 3rem 0;
}

.myTeam_stat_card:nth-child(1) {
  border-right: 1px solid rgba(150, 147, 158, 0.8);
  border-bottom: 1px solid rgba(150, 147, 158, 0.8);
}
.myTeam_stat_card:nth-child(2) {
  border-bottom: 1px solid rgba(150, 147, 158, 0.8);
}
.myTeam_stat_card:nth-child(3) {
  border-right: 1px solid rgba(150, 147, 158, 0.8);
}

.myTeamBtn {
  background: #ec5312;
  border-radius: 4px;
  padding: 1.125rem 2.5rem;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 760px) {
  .my_teams_wrapper .container-wrapper {
    width: 100%;
  }

  .my_teams {
    padding: 3.313rem 2.1rem;
  }
  .my_teams_cards {
    gap: 3rem;
  }
  .team_card_img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .team_card_img {
    width: 50px;
    height: 50px;
  }

  .my_team_title {
    font-size: 1.5rem;
  }

  .team_card_img {
    margin-right: 1.5rem;
  }

  .myTeam_stat_card:nth-child(1),
  .myTeam_stat_card:nth-child(2) {
    padding: 2rem 0;
    padding-top: 0;
  }
  .myTeam_stat_card:nth-child(3),
  .myTeam_stat_card:nth-child(4) {
    padding: 2rem 0;
  }
}

@media (max-width: 500px) {
  .myTeamBtn {
    background: #ec5312;
    padding: 0.5rem 1.7rem;
  }
  .myTeamBtn h4 {
    font-size: 10px;
  }

  .my_teams {
    padding: 15px 27px;
    padding-bottom: 56px;
  }

  .my_team_title {
    font-size: 14px;
  }

  .team_card_img {
    width: 40px;
    height: 40px;
    margin-right: 17px;
  }

  .my_teams_cards {
    gap: 50px 59px;
  }

  .my_teams_cards h5 {
    font-size: 12px;
  }

  .myTeam_stat_card .gap-62 {
    gap: 21px;
  }

  .myTeam_stat_card h2 {
    font-size: 14px;
  }
  .myTeam_stat_card h1 {
    font-size: 30px;
  }
}
