/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 100%;
  --clr-white: #ffffff;
  --clr-gray: #c4c4c4;
  --clr-dark-grey: #8e8e8e;
  --clr-blue: #1380f0;
  --clr-blue-2: #2589f9;
  --clr-dark-blue: #28303f;
  --clr-darkest-blue: #151b27;
  --clr-orange: #ec5312;
  --clr-red: #f83f04;
  --clr-dark-red: #f91414;
  --clr-red-2: #ef4444;

  /* font-sizes ==================*/

  --font-60px: 3.5rem;
  --font-35px: 1.9rem;
  --font-28px: 1.5rem;
  --font-22px: 1.375rem;
  --font-20px: 1.1rem;
  --font-18px: 1.125rem;
  --font-16px: 1rem;
  --font-14px: 0.875rem;
  --font-12px: 0.75rem;
}

/* colors */
.bg-color {
  background: var(--clr-darkest-blue);
}
.color-white {
  color: var(--clr-white);
}
.color-grey {
  color: var(--clr-gray);
}
.color-grey-2 {
  color: #797e87;
}
.color-red {
  color: var(--clr-red);
}
.color-blue {
  color: var(--clr-blue);
}
.color-dark-grey {
  color: var(--clr-dark-grey);
}

/* tags */
h1 {
  font-size: var(--font-60px); /* 60px */
}
h2 {
  font-size: var(--font-35px); /* 35px */
}
h3 {
  font-size: var(--font-28px); /* 28px */
}
h4 {
  font-size: var(--font-22px); /* 22px */
}
h5 {
  font-size: var(--font-20px); /* 20px */
}
h6 {
  font-size: var(--font-18px); /* 18px */
}
p {
  font-size: var(--font-16px); /* 16px */
}

.px-12 {
  font-size: var(--font-12px); /* 14px */
}
.px-14 {
  font-size: var(--font-14px); /* 14px */
}
.px-18 {
  font-size: var(--font-18px);
}
.px-16 {
  font-size: var(--font-16px);
}
.px-20 {
  font-size: var(--font-20px);
}
.px-22 {
  font-size: var(--font-22px);
}
.px-28 {
  font-size: var(--font-28px);
}
.px-35 {
  font-size: var(--font-35px);
}
.px-60 {
  font-size: var(--font-60px);
}

/* font weights */

.weight-normal {
  font-weight: normal;
}
.weight-bold {
  font-weight: bold;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}

.decoration-none {
  text-decoration: none;
}

/*  */
.row {
  display: flex;
}
.gap-0 {
  gap: 0;
}
.gap-3 {
  gap: 0.188rem;
}
.gap-7 {
  gap: 0.438rem;
}
.gap-10 {
  gap: 0.625rem;
}
.gap-16 {
  gap: 1rem;
}
.gap-39 {
  gap: 2.438rem;
}
.gap-62 {
  gap: 2.438rem;
}
.gap-106 {
  gap: 6.625rem;
}

/* paddings */
.pt-119 {
  padding-top: 7.438rem;
}
.pb-201 {
  padding-bottom: 12.563rem;
}

/* margin */
.mb-6 {
  margin-bottom: 6px;
}
.mb-17 {
  margin-bottom: 17px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-23 {
  margin-bottom: 23px;
}
.mb-31 {
  margin-bottom: 31px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-119 {
  margin-bottom: 7.438rem;
}
.mb-201 {
  margin-bottom: 12.563rem;
}

/* wrappers */
.container-wrapper {
  max-width: 2000px;
  width: 92%;
  margin: 0 auto;
}
.wrapper-1131 {
  max-width: 1131px;
  width: 92%;
  margin: 0 auto;
}

/*  */
.badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -15px;
  background-color: var(--clr-red-2);
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ================================= Pages Css ================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

/* === Home Start === */

.tabs_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  /* margin-bottom: 102px; */
}
.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  color: #8e8e8e;
}

.tab-active {
  color: #1380f0;
}
.tab-active svg path {
  fill: #1380f0;
}

.teamTabsIcon svg {
  /* border: 2px solid red; */
  width: 20px;
}

/* === Home End === */

/* === MySchedule Start === */

.my_schedule_tabs {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #dad9dd;
}
.my_schedule_tab {
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 36px;
  color: #ffffff;
  padding: 35px 40px;
  margin: 0 3rem;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
.my_schedule_tab_active {
  border-bottom: 5px solid #1380f0;
}

/* === MySchedule End === */

/* === CommunitySettings Starts === */

.community_settings {
  /* min-height: 100vh; */
  min-height: calc(100vh - 90px);
  display: flex;
}
.community_settings_right_side {
  background-color: #0f0f0f;
  padding: 4rem;
  flex: 1;
}
.community_settings_img {
  display: block;
  width: 91.4px;
  height: 91.4px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.community_settings_link {
  display: block;
  margin: 0 auto;
  text-align: center;

  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
  color: #44a0fe;
  text-decoration: none;

  margin-bottom: 72px;
}

.community_settings_form {
  width: 100%;
  max-width: 589px;
  margin: 0 auto;
}

.community_settings_input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 49px;
}

.community_settings_input label {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 22px;
  color: #b4b5b7;
}

.community_settings_input input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #6b6c6e;

  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 36px;
  color: #ffffff;

  padding-bottom: 0.875rem;
}

.community_settings_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}

.formBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: none;
  border: none;
  outline: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #90959e;

  cursor: pointer;
}

.btnFormSaveChanges {
  padding: 14px 39px;
  background: #0d59f0;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* === CommunitySettings End === */

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ================================= Media Queries ================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media (max-width: 1000px) {
  :root {
    font-size: 80%;
  }

  .pt-119 {
    padding-top: 3rem;
  }

  /* ==== pages css ==== */
}
@media (max-width: 880px) {
  .mb-inResponsive {
    margin-bottom: 1rem;
  }

  .mb-100 {
    margin-bottom: 80px;
  }
  .mb-119 {
    margin-bottom: 5rem;
  }
  .mb-201 {
    margin-bottom: 8rem;
  }

  .mb-70 {
    margin-bottom: 50px;
  }

  /* ==== pages css ==== */
}

@media (max-width: 800px) {
  .my_schedule_tab {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    padding: 20px 30px;
    margin: 0 0rem;
    border-bottom: 5px solid transparent;
    cursor: pointer;
  }
  .my_schedule_tab h3 {
    font-size: 1.5rem;
  }

  .my_schedule_tab_active {
    border-bottom: 5px solid #1380f0;
  }

  .my_schedule_tabs_wrapper .container-wrapper {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .community_settings_right_side {
    margin-left: 0;
  }

  .community_settings_input {
    gap: 10px;
    margin-bottom: 29px;
  }

  .community_settings_input label {
    font-size: 1.2rem;
  }

  .community_settings_input input {
    font-size: 1.3rem;
    padding-bottom: 0.875rem;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 73%;
    --font-60px: 3rem;
    --font-35px: 1.8rem;
  }

  .gap-106 {
    gap: 2rem;
  }

  .mb-100 {
    margin-bottom: 40px;
  }
  .mb-119 {
    margin-bottom: 30px;
  }
  .mb-201 {
    margin-bottom: 4rem;
  }

  .mb-70 {
    margin-bottom: 25px;
  }

  /* ==== pages css ==== */

  .tab_text {
    display: none;
  }
}

@media (max-width: 500px) {
  .my_schedule_tab {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    padding: 10px 30px;
    margin: 0 0rem;
    border-bottom: 5px solid transparent;
    cursor: pointer;
  }
  .my_schedule_tab h3 {
    font-size: 12px;
  }

  .my_schedule_tab_active {
    border-bottom: 5px solid #1380f0;
  }

  .community_settings {
    min-height: calc(100vh - 90px);
    display: flex;
  }

  .community_settings_right_side {
    padding: 4rem 2.5rem;
  }

  .community_settings_input {
    gap: 3px;
    margin-bottom: 29px;
  }

  .community_settings_input label {
    font-size: 1rem;
  }

  .community_settings_input input {
    font-size: 1.1rem;
    padding-bottom: 0.2rem;
  }

  .btnFormSaveChanges {
    padding: 14px 20px;
  }
  .btnFormSaveChanges h5 {
    font-size: 12px;
  }

  .tabs_wrapper {
    margin-top: 20px;
    margin-bottom: 31px;
  }

  .tab:nth-child(2) {
    flex: 1.5;
  }
}
